[*.cs]

# IDE0022: 使用方法的程序块主体
csharp_style_expression_bodied_methods = false:none

# CA1305: 指定 IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1031: 不捕获常规异常类型
dotnet_diagnostic.CA1031.severity = none

# CA1303: 请不要将文本作为本地化参数传递
dotnet_diagnostic.CA1303.severity = none

# CA1062: 验证公共方法的参数
dotnet_diagnostic.CA1062.severity = none
